* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.onboarding-page-image{
    background-image: url('Images/tractor.jpg');
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    filter: brightness(0.5);
    text-align: center;
    padding: 4rem 2rem;
    /* position: relative; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

}
.form{
    background-color:rgb(0, 104, 56) ;
    
}